@-webkit-keyframes fadeInRight {
    0% {
        -webkit-transform: translate(20px, 0);
                transform: translate(20px, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
        opacity: 1;
    }
}
@-ms-keyframes fadeInRight {
    0% {
        -ms-transform: translate(20px, 0);
                transform: translate(20px, 0);
        opacity: 0;
    }
    100% {
        -ms-transform: translate(0, 0);
                transform: translate(0, 0);
        opacity: 1;
    }
}
@-moz-keyframes fadeInRight {
    0% {
        -moz-transform: translate(20px, 0);
                transform: translate(20px, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0, 0);
                transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes fadeInRight {
    0% {
        -webkit-transform: translate(20px, 0);
                transform: translate(20px, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
        opacity: 1;
    }
}
.page-active-list-table-box tbody tr , .el-table__body tbody tr{
    opacity: 0;
    opacity: 1\9\0;
    -webkit-animation: fadeInRight 0.6s 1 forwards;
            animation: fadeInRight 0.6s 1 forwards;
}
.page-active-list-table-box tbody tr:hover , .el-table__body tbody tr:hover{
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}
.page-active-list-table-box tbody tr:hover td , .el-table__body tbody tr:hover td{
      color: #283039;
}
.el-table--enable-row-hover .el-table__body tr:hover>td , .el-table__body tr.hover-row>td{
    background-color: #ffffff;
}
.page-active-list-table-box tbody tr:nth-child(1) , .el-table__body tbody tr:nth-child(1){
    -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s;
}
.page-active-list-table-box tbody tr:nth-child(2) , .el-table__body tbody tr:nth-child(2){
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}
.page-active-list-table-box tbody tr:nth-child(3) , .el-table__body tbody tr:nth-child(3){
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
}
.page-active-list-table-box tbody tr:nth-child(4) , .el-table__body tbody tr:nth-child(4){
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}
.page-active-list-table-box tbody tr:nth-child(5) , .el-table__body tbody tr:nth-child(5){
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
}
.page-active-list-table-box tbody tr:nth-child(6) , .el-table__body tbody tr:nth-child(6){
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}
.page-active-list-table-box tbody tr:nth-child(7) , .el-table__body tbody tr:nth-child(7){
    -webkit-animation-delay: 0.35s;
            animation-delay: 0.35s;
}
.page-active-list-table-box tbody tr:nth-child(8) , .el-table__body tbody tr:nth-child(8){
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}
.page-active-list-table-box tbody tr:nth-child(9) , .el-table__body tbody tr:nth-child(9){
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
}
.page-active-list-table-box tbody tr:nth-child(10) , .el-table__body tbody tr:nth-child(10){
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}
.page-active-list-table-box tbody tr:nth-child(11) , .el-table__body tbody tr:nth-child(11){
    -webkit-animation-delay: 0.55s;
            animation-delay: 0.55s;
}
.page-active-list-table-box tbody tr:nth-child(12) , .el-table__body tbody tr:nth-child(12){
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
}
.page-active-list-table-box tbody tr:nth-child(13) , .el-table__body tbody tr:nth-child(13){
    -webkit-animation-delay: 0.65s;
            animation-delay: 0.65s;
}
.page-active-list-table-box tbody tr:nth-child(14) , .el-table__body tbody tr:nth-child(14){
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}
.page-active-list-table-box tbody tr:nth-child(15) , .el-table__body tbody tr:nth-child(15){
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
}
.page-active-list-table-box tbody tr:nth-child(16) , .el-table__body tbody tr:nth-child(16){
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
}
.page-active-list-table-box tbody tr:nth-child(17) , .el-table__body tbody tr:nth-child(17){
    -webkit-animation-delay: 0.85s;
            animation-delay: 0.85s;
}
.page-active-list-table-box tbody tr:nth-child(18) , .el-table__body tbody tr:nth-child(18){
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
}
.page-active-list-table-box tbody tr:nth-child(19) , .el-table__body tbody tr:nth-child(19){
    -webkit-animation-delay: 0.95s;
            animation-delay: 0.95s;
}
.page-active-list-table-box tbody tr:nth-child(20) , .el-table__body tbody tr:nth-child(20){
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.page-active-list-table-box tbody tr:nth-child(21) , .el-table__body tbody tr:nth-child(21){
    -webkit-animation-delay: 1.05s;
            animation-delay: 1.05s;
}
.page-active-list-table-box tbody tr:nth-child(22) , .el-table__body tbody tr:nth-child(22){
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
}
.page-active-list-table-box tbody tr:nth-child(23) , .el-table__body tbody tr:nth-child(23){
    -webkit-animation-delay: 1.15s;
            animation-delay: 1.15s;
}
.page-active-list-table-box tbody tr:nth-child(24) , .el-table__body tbody tr:nth-child(24){
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
}
.page-active-list-table-box tbody tr:nth-child(25) , .el-table__body tbody tr:nth-child(25){
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
}
.page-active-list-table-box tbody tr:nth-child(26) , .el-table__body tbody tr:nth-child(26){
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
}
.page-active-list-table-box tbody tr:nth-child(27) , .el-table__body tbody tr:nth-child(27){
    -webkit-animation-delay: 1.35s;
            animation-delay: 1.35s;
}
.page-active-list-table-box tbody tr:nth-child(28) , .el-table__body tbody tr:nth-child(28){
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
}
.page-active-list-table-box tbody tr:nth-child(29) , .el-table__body tbody tr:nth-child(29){
    -webkit-animation-delay: 1.45s;
            animation-delay: 1.45s;
}
.page-active-list-table-box tbody tr:nth-child(30) , .el-table__body tbody tr:nth-child(30){
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
}
.page-active-list-table-box tbody tr:nth-child(31) , .el-table__body tbody tr:nth-child(31){
    -webkit-animation-delay: 1.55s;
            animation-delay: 1.55s;
}
.page-active-list-table-box tbody tr:nth-child(32) , .el-table__body tbody tr:nth-child(32){
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
}
.page-active-list-table-box tbody tr:nth-child(33) , .el-table__body tbody tr:nth-child(33){
    -webkit-animation-delay: 1.65s;
            animation-delay: 1.65s;
}
.page-active-list-table-box tbody tr:nth-child(34) , .el-table__body tbody tr:nth-child(34){
    -webkit-animation-delay: 1.7s;
            animation-delay: 1.7s;
}
.page-active-list-table-box tbody tr:nth-child(35) , .el-table__body tbody tr:nth-child(35){
    -webkit-animation-delay: 1.75s;
            animation-delay: 1.75s;
}
.page-active-list-table-box tbody tr:nth-child(36) , .el-table__body tbody tr:nth-child(36){
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
}
.page-active-list-table-box tbody tr:nth-child(37) , .el-table__body tbody tr:nth-child(37){
    -webkit-animation-delay: 1.85s;
            animation-delay: 1.85s;
}
.page-active-list-table-box tbody tr:nth-child(38) , .el-table__body tbody tr:nth-child(38){
    -webkit-animation-delay: 1.9s;
            animation-delay: 1.9s;
}
.page-active-list-table-box tbody tr:nth-child(39) , .el-table__body tbody tr:nth-child(39){
    -webkit-animation-delay: 1.95s;
            animation-delay: 1.95s;
}
.page-active-list-table-box tbody tr:nth-child(40) , .el-table__body tbody tr:nth-child(40){
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
}
.page-active-list-table-box tbody tr:nth-child(41) , .el-table__body tbody tr:nth-child(41){
    -webkit-animation-delay: 2.05s;
            animation-delay: 2.05s;
}
.page-active-list-table-box tbody tr:nth-child(42) , .el-table__body tbody tr:nth-child(42){
    -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s;
}
.page-active-list-table-box tbody tr:nth-child(43) , .el-table__body tbody tr:nth-child(43){
    -webkit-animation-delay: 2.15s;
            animation-delay: 2.15s;
}
.page-active-list-table-box tbody tr:nth-child(44) , .el-table__body tbody tr:nth-child(44){
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s;
}
.page-active-list-table-box tbody tr:nth-child(45) , .el-table__body tbody tr:nth-child(45){
    -webkit-animation-delay: 2.25s;
            animation-delay: 2.25s;
}
.page-active-list-table-box tbody tr:nth-child(46) , .el-table__body tbody tr:nth-child(46){
    -webkit-animation-delay: 2.3s;
            animation-delay: 2.3s;
}
.page-active-list-table-box tbody tr:nth-child(47) , .el-table__body tbody tr:nth-child(47){
    -webkit-animation-delay: 2.35s;
            animation-delay: 2.35s;
}
.page-active-list-table-box tbody tr:nth-child(48) , .el-table__body tbody tr:nth-child(48){
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s;
}
.page-active-list-table-box tbody tr:nth-child(49) , .el-table__body tbody tr:nth-child(49){
    -webkit-animation-delay: 2.45s;
            animation-delay: 2.45s;
}
.page-active-list-table-box tbody tr:nth-child(50) , .el-table__body tbody tr:nth-child(50){
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
}
.page-active-list-table-box tbody tr:nth-child(51) {
    -webkit-animation-delay: 2.55s;
            animation-delay: 2.55s;
}
.page-active-list-table-box tbody tr:nth-child(52) {
    -webkit-animation-delay: 2.6s;
            animation-delay: 2.6s;
}
.page-active-list-table-box tbody tr:nth-child(53) {
    -webkit-animation-delay: 2.65s;
            animation-delay: 2.65s;
}
.page-active-list-table-box tbody tr:nth-child(54) {
    -webkit-animation-delay: 2.7s;
            animation-delay: 2.7s;
}
.page-active-list-table-box tbody tr:nth-child(55) {
    -webkit-animation-delay: 2.75s;
            animation-delay: 2.75s;
}
.page-active-list-table-box tbody tr:nth-child(56) {
    -webkit-animation-delay: 2.8s;
            animation-delay: 2.8s;
}
.page-active-list-table-box tbody tr:nth-child(57) {
    -webkit-animation-delay: 2.85s;
            animation-delay: 2.85s;
}
.page-active-list-table-box tbody tr:nth-child(58) {
    -webkit-animation-delay: 2.9s;
            animation-delay: 2.9s;
}
.page-active-list-table-box tbody tr:nth-child(59) {
    -webkit-animation-delay: 2.95s;
            animation-delay: 2.95s;
}
.page-active-list-table-box tbody tr:nth-child(60) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
}
.page-active-list-table-box tbody tr:nth-child(61) {
    -webkit-animation-delay: 3.05s;
            animation-delay: 3.05s;
}
.page-active-list-table-box tbody tr:nth-child(62) {
    -webkit-animation-delay: 3.1s;
            animation-delay: 3.1s;
}
.page-active-list-table-box tbody tr:nth-child(63) {
    -webkit-animation-delay: 3.15s;
            animation-delay: 3.15s;
}
.page-active-list-table-box tbody tr:nth-child(64) {
    -webkit-animation-delay: 3.2s;
            animation-delay: 3.2s;
}
.page-active-list-table-box tbody tr:nth-child(65) {
    -webkit-animation-delay: 3.25s;
            animation-delay: 3.25s;
}
.page-active-list-table-box tbody tr:nth-child(66) {
    -webkit-animation-delay: 3.3s;
            animation-delay: 3.3s;
}
.page-active-list-table-box tbody tr:nth-child(67) {
    -webkit-animation-delay: 3.35s;
            animation-delay: 3.35s;
}
.page-active-list-table-box tbody tr:nth-child(68) {
    -webkit-animation-delay: 3.4s;
            animation-delay: 3.4s;
}
.page-active-list-table-box tbody tr:nth-child(69) {
    -webkit-animation-delay: 3.45s;
            animation-delay: 3.45s;
}
.page-active-list-table-box tbody tr:nth-child(70) {
    -webkit-animation-delay: 3.5s;
            animation-delay: 3.5s;
}
.page-active-list-table-box tbody tr:nth-child(71) {
    -webkit-animation-delay: 3.55s;
            animation-delay: 3.55s;
}
.page-active-list-table-box tbody tr:nth-child(72) {
    -webkit-animation-delay: 3.6s;
            animation-delay: 3.6s;
}
.page-active-list-table-box tbody tr:nth-child(73) {
    -webkit-animation-delay: 3.65s;
            animation-delay: 3.65s;
}
.page-active-list-table-box tbody tr:nth-child(74) {
    -webkit-animation-delay: 3.7s;
            animation-delay: 3.7s;
}
.page-active-list-table-box tbody tr:nth-child(75) {
    -webkit-animation-delay: 3.75s;
            animation-delay: 3.75s;
}
.page-active-list-table-box tbody tr:nth-child(76) {
    -webkit-animation-delay: 3.8s;
            animation-delay: 3.8s;
}
.page-active-list-table-box tbody tr:nth-child(77) {
    -webkit-animation-delay: 3.85s;
            animation-delay: 3.85s;
}
.page-active-list-table-box tbody tr:nth-child(78) {
    -webkit-animation-delay: 3.9s;
            animation-delay: 3.9s;
}
.page-active-list-table-box tbody tr:nth-child(79) {
    -webkit-animation-delay: 3.95s;
            animation-delay: 3.95s;
}
.page-active-list-table-box tbody tr:nth-child(80) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}
.page-active-list-table-box tbody tr:nth-child(81) {
    -webkit-animation-delay: 4.05s;
            animation-delay: 4.05s;
}
.page-active-list-table-box tbody tr:nth-child(82) {
    -webkit-animation-delay: 4.1s;
            animation-delay: 4.1s;
}
.page-active-list-table-box tbody tr:nth-child(83) {
    -webkit-animation-delay: 4.15s;
            animation-delay: 4.15s;
}
.page-active-list-table-box tbody tr:nth-child(84) {
    -webkit-animation-delay: 4.2s;
            animation-delay: 4.2s;
}
.page-active-list-table-box tbody tr:nth-child(85) {
    -webkit-animation-delay: 4.25s;
            animation-delay: 4.25s;
}
.page-active-list-table-box tbody tr:nth-child(86) {
    -webkit-animation-delay: 4.3s;
            animation-delay: 4.3s;
}
.page-active-list-table-box tbody tr:nth-child(87) {
    -webkit-animation-delay: 4.35s;
            animation-delay: 4.35s;
}
.page-active-list-table-box tbody tr:nth-child(88) {
    -webkit-animation-delay: 4.4s;
            animation-delay: 4.4s;
}
.page-active-list-table-box tbody tr:nth-child(89) {
    -webkit-animation-delay: 4.45s;
            animation-delay: 4.45s;
}
.page-active-list-table-box tbody tr:nth-child(90) {
    -webkit-animation-delay: 4.5s;
            animation-delay: 4.5s;
}
.page-active-list-table-box tbody tr:nth-child(91) {
    -webkit-animation-delay: 4.55s;
            animation-delay: 4.55s;
}
.page-active-list-table-box tbody tr:nth-child(92) {
    -webkit-animation-delay: 4.6s;
            animation-delay: 4.6s;
}
.page-active-list-table-box tbody tr:nth-child(93) {
    -webkit-animation-delay: 4.65s;
            animation-delay: 4.65s;
}
.page-active-list-table-box tbody tr:nth-child(94) {
    -webkit-animation-delay: 4.7s;
            animation-delay: 4.7s;
}
.page-active-list-table-box tbody tr:nth-child(95) {
    -webkit-animation-delay: 4.75s;
            animation-delay: 4.75s;
}
.page-active-list-table-box tbody tr:nth-child(96) {
    -webkit-animation-delay: 4.8s;
            animation-delay: 4.8s;
}
.page-active-list-table-box tbody tr:nth-child(97) {
    -webkit-animation-delay: 4.85s;
            animation-delay: 4.85s;
}
.page-active-list-table-box tbody tr:nth-child(98) {
    -webkit-animation-delay: 4.9s;
            animation-delay: 4.9s;
}
.page-active-list-table-box tbody tr:nth-child(99) {
    -webkit-animation-delay: 4.95s;
            animation-delay: 4.95s;
}
.page-active-list-table-box tbody tr:nth-child(100) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}